@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

body {
    margin: 0;
}

header {
    display: flex;
    background-color: var(--surface-1);
    padding: var(--size-10);
    justify-content: center;
}

.title {
    width: 70%;
}

main {
    background-color: var(--surface-4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--size-10);
    padding: var(--size-10) var(--size-12);
}

.issue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--size-3);
    padding-bottom: var(--size-2);
    width: 20%;
    background-color: var(--surface-3);
    border-radius: var(--radius-3);
}

.issue img {
    border-radius: var(--radius-3);
}

.issue p {
    margin-top: var(--size-2);
    text-align: center;
    font-size: var(--size-5);
    color: var(--text-1);
    font-weight: var(--font-weight-5);
}

.issue p.sub {
    font-size: var(--size-4);
    font-weight: var(--font-weight-3);
}

.issue:hover {
    text-decoration: none;
    background-color: var(--surface-2);
}

.issue:hover p {
    font-weight: var(--font-weight-7);
    text-decoration: none;
}

.issue:hover p.sub {
    font-weight: var(--font-weight-5);
    text-decoration: none;
}

footer {
    display: flex;
    background-color: var(--gray-12);
    padding: var(--size-10);
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--size-5);
    color: var(--gray-0);
}

footer p {
    max-inline-size: none;
}

footer p:last-of-type {
    text-align: right;
}

footer a {
    color: var(--gray-5);
    font-weight: var(--font-weight-5);
}

footer a:hover {
    color: var(--gray-6);
    font-weight: var(--font-weight-7);
    text-decoration: none;
}

.name {
    color: #fdcd37;
    font-weight: var(--font-weight-7);
}